body{
    font-family: 'Signika', sans-serif;
    margin: 0px;
}
h1{
    font-size: 30px;
}
.Font-high{
    color: aqua;
    font-size: 60px;
}
.top{
    width: 40%;
    float: left;
    padding-left: 3%;
    margin: 2%;
}
.top img{
    width: 500px;
}
.banner{
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.button{
    text-decoration: none;
    padding: 6px 8px;
  background-image: linear-gradient(aqua, blue);
    color: whitesmoke;
    border-radius: 5px;
}
.linki{
    text-decoration: none;
    padding: 6px 8px;
  background-image: linear-gradient(rgb(104, 138, 202), rgb(11, 101, 165));
    color: whitesmoke;
    border-radius: 5px;
}
.resum{
    text-decoration: none;
    padding: 6px 8px;
  background-image: linear-gradient(rgb(226, 103, 245), rgb(207, 32, 143));
    color: whitesmoke;
    border-radius: 5px;

}
.dreamban{
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Mindset{
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(7, 7, 98);
}
.div-high{
    color: rgb(20, 6, 54);
    font-size: 15px;
    text-align: center;
}
.box{
    box-shadow: 10px 10px 40Px gray;
    padding-right: 30px;
    height: 300px;
    border-radius: 10px;
    background-color: aliceblue;
}
h2{
    text-align: center;
    text-decoration: wavy;
}
.experience{
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#IES{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
    
    
}
#Million{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, aqua, blue);
    border-image-slice: 1;  
}
footer h4{
    text-align: center;
    color: gray;
}
