body{
    font-family: 'Signika', sans-serif;
}
h1{
    font-size: 30px;
}
.Font-high{
    color: aqua;
    font-size: 60px;
}
.top{
    width: 40%;
    float: left;
    padding-left: 5%;
}
.top img{
    width: 100%;
}